.app {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-box {
  width: calc(100vw - 50px);
  margin: 0 auto;
  max-height: 100%;
  background: var(--color-background-primary);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: var(--shadow-lg);
  border-radius: var(--border-radius-xxl);
}